body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #060;
}

/*
   * Formatting the header area
   */

header {
  background-color: #dfb887;
  height: 35px;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 10px;
}

header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}

header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

/*
   * Center the body content
   */
div.home,
div.about {
  padding: 10px 0 30px 0;
  background-color: #e6e6fa;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 5px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

form a,
h3 {
  font-size: 25px;
  font-weight: 100;
  margin: 10px;
  text-align: left;
  text-decoration: underline;
  letter-spacing: -1px;
  color: blue;

}

.menu {
  float: right;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 35px;
}

.menu li a {
  color: #444;
  text-decoration: none;
}

.col-4,
.col-8 {
  background-color: lightblue;
}

form input[type="submit"],
form input[type="button"] {
  width: 45%;
  height: 50px;
  background-color: teal;
  margin: 10px;
  font-size: 25px;
}

form label {
  color:maroon;
  font-size:20px;
  text-decoration: underline;
  margin-top: 5px;
  margin-bottom: 5px;

}

form input[type="button"] {
  background-color: rgb(102, 0, 128);
}
