{%extends "layout.html"%} {% block content %}
<script
  defer src="https://kit.fontawesome.com/7d687e7439.js"
  crossorigin="anonymous"
></script>
<script defer src="/static/js/socket.js"></script>
<script defer src="/static/js/account.js"></script>
<script defer src="/static/js/manageGames.js"></script>
<script defer src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<div class="account">
  <form id="addFriend">
    <input id="addFriendSender" name="sender" type="hidden" value="" />
    <input id="addFriendReceiver" name="receiver" type="hidden" value="" />
  </form>
  <form id="acceptFriend">
    <input id="acceptFriendSender" name="sender" type="hidden" value="" />
    <input id="acceptFriendReceiver" name="receiver" type="hidden" value="" />
  </form>  
  <form id="getFriends">
    <input id="getFriendsSender" name="sender" type="hidden" value="" />
  </form>
  <button type="button" id = "addFriendYesButton" class="btn btn-primary" onclick=addFriend() hidden>addFriendYes</button>
  <button type="button" id = "acceptFriendYesButton" class="btn btn-primary" onclick=acceptFriendRequest() hidden>addFriendYes</button>
  <button type="button" id = "acceptFriendNoButton" class="btn btn-primary" onclick=rejectFriendRequest() hidden>addFriendYes</button> 
  <div class="container-fluid">
    <div class="row">
      <div class="col-9 border">
        <h2>GAME ARENA</h2>
        <hr class="mt-4 mb-3" />
        <div id="myBoard" class="ml-3" style="width: 30%;display:none"></div>
        <button class="ml-3 mt-3 mb-3" id="startPositionBtn">
          Start Position
        </button>
      </div>
      <div class="col-3 border">
        <div class="input-group mb-0">
          <label for="search-input" hidden>search-input</label>
          <input
            id="search-input"
            type="search"
            class="form-control mt-1"
            placeholder="search"
          />
          <button
            id="search-button"
            type="button"
            class="btn btn-primary mr-2 mt-1"
            title="search-button"
          >
            <span class="fas fa-search fa-1x"></span>
          </button>
          <button
            id="settings-button"
            type="button"
            class="btn btn-primary mr-2 mt-1"
            title="settings-button"
          >
            <span class="fas fa-user-cog fa-1x"></span>
          </button>
          <button
            id="logout-button"
            type="button"
            class="btn btn-primary mt-1"
            onclick=logout()
            title="logout-button"
          >
            <span class="fas fa-sign-out-alt fa-1x"></span>
          </button>
        </div>
        <h2 class="mt-1" id="accountOwner">{{userid}}</h2>
        <hr class="mt-1 mb-3" />
        <!-- Tabs nav -->
        <ul class="nav nav-tabs mb-3" id="userinfo" role="tablist">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link active"
              id="friendsTab"
              data-toggle="tab"
              href="#friends"
              >Friends</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="CommunitiesTab"
              data-toggle="tab"
              href="#communities"
              >Communities</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="gamesTab" data-toggle="tab" href="#games"
              >Games</a
            >
          </li>
        </ul>
        <!-- Tabs nav -->

        <!-- Tabs content -->
        <div class="tab-content" id="userinfo-content">
          <div
            class="tab-pane fade show active"
            id="friends"
            role="tabpanel"
            aria-labelledby="friendsTab"
          >
            <button
              id="addFriend-button"
              type="button"
              class="btn btn-primary float-right mr-2 mt-1"
              onclick="addFriendUsingModal()"
              title="addFriend-button"
              style="background-color:green;"
            >
              <span class="fas fa-user-plus fa-1x"></span>
            </button>
            <button
              id="removeFriend-button"
              type="button"
              class="btn btn-primary float-right mr-2 mt-1 mb-1"
              title="removeFriend-button"
              style="background-color:brown;"
              onclick="deleteFriends()"
            >
              <span class="fas fa-minus-circle fa-1x"></span>
            </button>
          </br>
          <div class="table-wrapper-scroll-y my-custom-scrollbar mt-4">
              <table
                class="table table-bordered table-striped mb-0 sortable"
                id="friends-table"
              >
                <thead>
                  <tr>
                    <th style="display: none;" id="friendListSelectHeader">select</th>
                    <th style="width: 70%">Name</th>
                    <th style="display: none;" id="friendListRequestStatusHeader">requestStatus</th>
                    <th style="display: none;" id="friendListOnlineStatusHeader">onlineStatus</th>
                    <th style="display: none;" id="friendListGameStatusHeader">gameStatus</th>
                    <th>W</th>
                    <th>L</th>
                    <th>D</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="communities"
            role="tabpanel"
            aria-labelledby="CommunitiesTab"
          >
            Communities Tab content
          </div>
          <div
            class="tab-pane fade"
            id="games"
            role="tabpanel"
            aria-labelledby="gamesTab"
          >
            Games Tab content
            <form action="/loadGame" method="post" id="loadGameForm">
              <p>Join a Game:</p>
              <select name="gameslist" id="gameslist"></select>
              <hr />
              <input
                type="button"
                class="btn btn-primary mt-2 mb-5"
                value="Load Game"
                id="loadGame"
              />
            </form>
            <form action="/addGame" method="post" id="addGameForm">
              <p>Create a Game:</p>
              <input type="text" id="gameId" name='gameId' placeholder="Enter game id here"/><hr>
              <input type="text" id="invitedPlayer" name='invitedPlayer' placeholder="Enter invited user's id here"/><hr>
              <input type="button"
              class="btn btn-primary mt-2 mb-5"
              value="Add Game"
              id="addGame" 
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>{%endblock%}</div>
</div>
