<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chess-App with Python</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='main.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
      integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.min.js"
    ></script>
    <script
      src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
      integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script defer src="/static/js/common.js"></script>
  </head>
  <body>
    <!-- Button trigger Alert User modal -->
    <button type="button" id = "alertUserButton" class="btn btn-primary" data-toggle="modal" data-target="#alertUser" value="alertUserIsClose" hidden>AlertUser</button>
    <!-- Modal to Alert User-->
    <div class="modal fade" id="alertUser" tabindex="-1" role="dialog" aria-labelledby="alertUser" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="alertUserTitle">UserMessage</h5>
          </div>
          <div class="modal-body" id="alertUserBody">
            <div id="alertUserMessage"></div>
            <form id="alertUserInputForm">
              <input type="hidden" class="form-control" placeholder="" name="alertUserInputData" id="alertUserInputData" value="">
              <input type="hidden" class="form-control" placeholder="" name="alertUserResponse" id="alertUserResponse" value="">             
            </form>             
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="alertUserYesButton" style = "width:80px;background-color: green" onclick="recordAlertUserResponse(true)">Yes</button>
            <button type="button" class="btn btn-primary" id="alertUserNoButton" style = "width:80px;background-color: red" onclick="recordAlertUserResponse(false)">No</button>
            <button type="button" class="btn btn-primary" id="alertUserCancelButton" style = "width:80px;background-color: gray" onclick="closeUserAlertModal()">Close</button>
            <button type="button" class="btn btn-secondary" id ="alertUserCloseButton" data-dismiss="modal" style = "width:80px" hidden>Dismiss</button>
          </div>
        </div>
      </div>
    </div>
    <header>
      <div class="container-fluid">
        <h1 class="logo">onboard chess</h1>
        <strong>
          <nav>
            <ul class="menu">
              <li><a id="home" href="{{ url_for('home') }}">Home</a></li>
              <li><a id="about" href="{{ url_for('about') }}">About</a></li>
              <li><a id="rules" href="{{ url_for('rules') }}">Rules</a></li>
            </ul>
          </nav>
        </strong>
      </div>
    </header>
    <div class="container-fluid">{%block content%} {%endblock%}</div>
  </body>

</html>
