{%extends "layout.html"%} {% block content %}
<script defer src="/static/js/socket.js"></script>
<script defer src="/static/js/signup.js"></script>

<div class="signup">
  <div class="container-fluid">
    <div class="row">
      <div class="col-9 border">
        <h2>COMMUNITY NEWS</h2>
        <hr class="mt-3 mb-3" />
        <h1><u>Most Happening Communities</u></h1>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button
                  class="btn btn-link"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="false"
                  aria-controls="collapseOne"
                  id="communitnewsG1Name"
                >
                  <strong>Portland State Vikings:</strong> hosted a total of
                  <strong>677</strong> chess games
                </button>
              </h5>
            </div>

            <div
              id="collapseOne"
              class="collapse"
              aria-labelledby="headingOne"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  <u><strong id="communitynewsG1P1Name">Player1:</strong></u>
                  played <strong>57</strong> chess games, won
                  <strong style="color: green">29</strong> lost
                  <strong style="color: red">17</strong> and had
                  <strong>11</strong> draws
                </p>
                <p>
                  <u><strong id="communitynewsG1P2Name">Player2:</strong></u>
                  played <strong>49</strong> chess games, won
                  <strong style="color: green">22</strong> lost
                  <strong style="color: red">15</strong> and had
                  <strong>12</strong> draws
                </p>
                <p>
                  <u><strong id="communitynewsG1P3Name">Player3:</strong></u>
                  played <strong>35</strong> chess games, won
                  <strong style="color: green">15</strong> lost
                  <strong style="color: red">18</strong> and had
                  <strong>1</strong> draws
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button
                  class="btn btn-link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                  id="communitnewsG2Name"
                >
                  <strong>NC State WolfPack:</strong> hosted a total of
                  <strong>583</strong> chess games
                </button>
              </h5>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  <u><strong id="communitynewsG2P1Name">Player4:</strong></u>
                  played <strong>57</strong> chess games, won
                  <strong style="color: green">29</strong> lost
                  <strong style="color: red">17</strong> and had
                  <strong>11</strong> draws
                </p>
                <p>
                  <u><strong id="communitynewsG2P2Name">Player5:</strong></u>
                  played <strong>49</strong> chess games, won
                  <strong style="color: green">22</strong> lost
                  <strong style="color: red">15</strong> and had
                  <strong>12</strong> draws
                </p>
                <p>
                  <u><strong id="communitynewsG2P3Name">Player6:</strong></u>
                  played <strong>35</strong> chess games, won
                  <strong style="color: green">15</strong> lost
                  <strong style="color: red">18</strong> and had
                  <strong>1</strong> draws
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button
                  class="btn btn-link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                  id="communitnewsG3Name"
                >
                  <strong>Rutgers Scarlet Knights:</strong> hosted a total of
                  <strong>579</strong> chess games
                </button>
              </h5>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  <u><strong id="communitynewsG2P1Name">Player4:</strong></u>
                  played <strong>57</strong> chess games, won
                  <strong style="color: green">29</strong> lost
                  <strong style="color: red">17</strong> and had
                  <strong>11</strong> draws
                </p>
                <p>
                  <u><strong id="communitynewsG2P2Name">Player5:</strong></u>
                  played <strong>49</strong> chess games, won
                  <strong style="color: green">22</strong> lost
                  <strong style="color: red">15</strong> and had
                  <strong>12</strong> draws
                </p>
                <p>
                  <u><strong id="communitynewsG2P3Name">Player6:</strong></u>
                  played <strong>35</strong> chess games, won
                  <strong style="color: green">15</strong> lost
                  <strong style="color: red">18</strong> and had
                  <strong>1</strong> draws
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 border">
        <form action="/createAccount" method="post" id="signupForm">
          <h2>NEW ACCOUNT</h2>
          <hr class="mt-3 mb-3" />
          {% with messages = get_flashed_messages() %} {% if messages %} {% for
          message in messages %}
          <div
            class="alert alert-danger alert-dismissible fade show"
            role="alert"
          >
            {{message}}
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %} {% endif %} {% endwith %}
          <div class="form-group mb-5">
            <input
              type="text"
              class="form-control mb-1"
              id="firstname"
              name="firstname"
              placeholder="First Name"
              required
            />
            <input
              type="text"
              class="form-control"
              id="lastname"
              name="lastname"
              placeholder="Last Name"
              required
            />
            <input
              type="email"
              class="form-control mt-3"
              id="email"
              name="email"
              placeholder="Email ID"
              required
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control mb-3"
              id="userid"
              name="userid"
              placeholder="User ID"
              required
            />
            <input
              type="password"
              class="form-control mb-1"
              id="password"
              name="password"
              placeholder="Password"
              required
            />
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Confirm Password"
              required
            />
          </div>
          <div class="form-group mt-3 mb-0">
            <input
              type="button"
              class="btn btn-primary mt-2 mb-5"
              value="Create New Account"
              id="createAccount"
              onclick="validateSignupForm()"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div>{%endblock%}</div>
</div>
